body{
	background-image:url(abstract-modern-yellow-background_42581-368.jpg);
	background-size: cover;
}
div{
	font-size: 15px;
	color: white;
}
textarea{
	width: 200px;
	height: 80px;
	border: 2px solid white;
}
.headline{
	font-family:georgia;
	color: white;
}
input[type=radio]{
	width: 40px;
	height: 20px;
}
fieldset{
	border: 2px solid white;
}